.snipitText {
    color: black;
    font-size: small;
    font-weight: bold;
    font-family: 'Source Code Pro', monospace;
}

#snipitTitleTxt {
    font-weight: bolder;
    font-family: 'Source Code Pro', monospace;
    font-size: medium;
}

#snipitTitleTxt {
    margin-top: 5px;
    font-weight: bolder;
    align-self: center;
    background-color: #8940de;
}

.snipitCard {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 400px;
    width: 200px;
    background-color: darkslateblue;

}

#titleBox {
    border-bottom: solid black 2px;
    height: 50px;
    width: 100%;
    margin: auto;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #8940de;
}

#snipitInfoTxtBox {
    overflow: hidden;
    text-overflow: ellipsis; 
    margin: auto;
    height: 70px ;
    background-color: aqua;
    border-top: solid black 2px;
}

.snipitInfoTxt {
    font-family: 'Source Code Pro', monospace;
    font-size: small;
    margin-top: 5px;
}
