#snipitsPageSideBar {
    background-color: darkslateblue;
    border: solid 1px white;
}

#sideBarTitle {
    background-color: aqua;
    color: black!important;
    margin-top: 15px;
    border: 2px solid white;
}

#searchBox {
    margin-bottom: 20px;
    margin-top: 10px;
}

#searchTitleTxtBox {
    border: solid 2px white;    
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #8940de;
}

#searchTitleTxt {
   font-family: 'Source Code Pro', monospace;
   font-size: xx-large;
   margin: auto;
}

.filterOptionsBtn {
background-color: aqua !important;
color: black !important;
font-size: medium;
font-weight: bold;
font-family: 'Source Code Pro', monospace;
}
