#footerBox {
    /* border: solid black 2px; */
    margin-top: 25px;
    height: 75px;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 65%, rgb(43, 138, 156) 100%);
 
}

#footerTxt {
    font-family: 'Source Code Pro', monospace;
    font-size: large;
    font-weight: medium;
    margin-top: 20px;
    color: #fff;
}