#yourSnipitsCard {
    margin: auto;
    /* width: 1000px; */
    min-height: 1000px;
}

#yourSnipitsTitle {
    margin-left: -600px;
    font-weight: bolder;
}

#createSnipitBtn {
    margin-top: 3px;
    margin-left: 100px;
}
