#yourSnipitsCard {
    margin: auto;
    /* width: 1000px; */
    min-height: 1000px;
}

#yourSnipitsTitle {
    font-weight: bolder;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#createSnipitBtn {
    margin-top: 15px;
    margin-left: 100px;
    margin-bottom: 15px;
}
#deleteSnipitBtn{
    margin-bottom: 20px;
}