#profileImg {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

#infoCard {
    margin: auto;
    width: 300px;
    background-color: grey !important;
}
h2{ 
    text-align: center !important;

    
}
body{
    color: black !important;
    text-align: center !important;
}